[submodule "marin0se/libs/sti"]
	path = marin0se/libs/sti
	url = H:/Users/ej/git/Marin0_SE/marin0se/libs/sti
[submodule "marin0se/libs/lurker"]
	path = marin0se/libs/lurker
	url = https://github.com/GoonHouse/lurker.git
[submodule "marin0se/libs/monocle"]
	path = marin0se/libs/monocle
	url = https://github.com/GoonHouse/monocle.git
[submodule "marin0se/libs/timer"]
	path = marin0se/libs/timer
	url = https://github.com/EntranceJew/timer.git
[submodule "marin0se/libs/hooker"]
	path = marin0se/libs/hooker
	url = https://github.com/EntranceJew/hooker.git
