[submodule "marin0se/libs/sti"]
	path = marin0se/libs/sti
	url = https://github.com/karai17/Simple-Tiled-Implementation.git
[submodule "marin0se/libs/lurker"]
	path = marin0se/libs/lurker
	url = https://github.com/GoonHouse/lurker.git
[submodule "marin0se/libs/monocle"]
	path = marin0se/libs/monocle
	url = https://github.com/GoonHouse/monocle.git
[submodule "marin0se/libs/timer"]
	path = marin0se/libs/timer
	url = https://github.com/EntranceJew/timer.git
[submodule "marin0se/libs/hooker"]
	path = marin0se/libs/hooker
	url = https://github.com/EntranceJew/hooker.git
[submodule "marin0se/libs/imgurlua"]
	path = marin0se/libs/imgurlua
	url = https://github.com/EntranceJew/imgurlua.git
